<style>
    #panel {
        position: fixed;
        bottom: 0;
        background-color: #FFFFFF;
    }

    #panel form {
        margin-bottom: 4px;
    }

    #panel button, #panel textarea {
        height: 40px
    }

    #panel button {
        width: 100px;
        vertical-align: top;
    }

    #messages {
        padding-bottom: 40px;
    }

    .hidden {
        display: none;
    }

    #users {
        position: fixed;
        top: 0;
        right: 0;
        width: 160px;
        background-color: #fafafa;
        height: 100%;
        border-left: 1px solid #dfdfdf;
        padding: 5px;
    }

    #users ul li {
        margin: 0;
        padding: 0;
    }

    #users ul li.me {
        font-weight: bold;
    }

    #users ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    body {
        padding-right: 160px;
    }
</style>

<p>This is a trivial <a href="https://github.com/SamSaffron/message_bus">message_bus</a> chat demo... It is implemented as a RAILS 4.1 app backed by Postgresql (no REDIS)</p>
<p>Original app is <a href="https://github.com/SamSaffron/message_bus/blob/master/examples/chat/chat.rb">here</a></p>
<br/>
<div id='messages' class="hidden"></div>
<div id='users' class="hidden">
  <h3>Online</h3>
  <ul></ul>
</div>
<div id='panel' class="hidden">
  <form>
    <textarea cols=80 rows=2></textarea>
    <button id="send">send</button>
  </form>
</div>
<div id='your-username'>Enter your username: <input type='text'> </div>

